@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Medium.woff2') format('woff2'),
    url('./assets/fonts/Aeonik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Regular.woff2') format('woff2'),
    url('./assets/fonts/Aeonik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


body {
  height: 100vh;

  font-family: 'Aeonik';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.45;

  /* Fix */
  background-color: #fff;
  color: #0E0637;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(img, svg, video) {
  display: block;
  max-width: 100%;
}

:where(ul, ol) {
  list-style: none;
  padding: 0;
}

:where(button, input, textarea) {
  font-family: inherit;
}

:where(h1, h2, h3, h4, h5, h6) {
  font: inherit;
}